.example-enter {
  opacity: 0.01;
  margin-left: 250px;
}

.example-enter.example-enter-active {
  opacity: 1;
  margin-left: 10px;
  transition: opacity 500ms ease-in, margin-left 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.shifted {
  margin-left: 250px;
  transition: margin-left 500ms ease-in;
}

.normal {
  margin-left: 10px;
  transition: margin-left 500ms ease-in;
}