@import "~bootstrap/scss/bootstrap.scss";

body {
  display: block;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

#root {
  /*centring content https://css-tricks.com/centering-css-complete-guide/*/
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

#main-container {
  /*centring content https://css-tricks.com/centering-css-complete-guide/*/
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

#door-editor {
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-width: 900px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

#editor-3d {
  height: 100%;
  min-height: 400px; min-width: 400px; max-width: 750px;
  margin: 5px;

  /*centring content https://css-tricks.com/centering-css-complete-guide/*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#editor-3d-canvas {
  padding-left: 5px;
  padding-right: 5px;
}

div.left-40 {
  margin-left: 40px;
}

div.f-form-control {
    margin-right: 10px;
    display: inline-block;
}

div.selected-door-item {
  background-color: rgba(0, 0, 0, 0.2);
}
